@import url('./colors.css');
@import url('./fonts.css');

ul,
ol {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

.accent-color {
	color: #4d5ae5;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: #2e2f42;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
}

.menu-link {
	font-weight: 500;
	color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
	color: #404bbf;
}

.contacts-link {
	font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
	color: #404bbf;
}

.hero {
	background-color: #2e2f42;
}

.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.1;
	text-align: center;
	color: #ffffff;
}

.hero-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #4d5ae5;
}

.benefits-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: #2e2f42;
}

.team-item-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	color: #2e2f42;
}

.portfolio-item-service {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: #2e2f42;
}

.footer {
	color: #f4f4fd;
	background-color: #2e2f42;
}

.footer .logo {
	color: #f4f4fd;
}
